.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.tab {
  width: 100%;
  height: 40vh;
}
button {
  width: 100px;
  height: 50px;
  padding: 20px;
  margin: 10px;
  background-color: darkorange;
  border-radius: 10px;
  font-weight: bold;
  font-size: larger;
}
button:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: yellow;
  padding: 5px;
  box-shadow: 1px 2px 3px;
}
table {
  margin-top: 10px;
  border-collapse: collapse;
  height: 500px;
  overflow-x: scroll;
}

th {
  background-color: black;
  color: whitesmoke;
}
tr:nth-child(even) {
  background-color: bisque;
}
table thead tr th:first-child {
  left: 0px;
  z-index: 2;
}
